<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target xsi:type="ColoredConsole" name="logconsole"
            layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
  </targets>

  <rules>    
    <logger RuleName="logconsole" name="*" minlevel="Debug" writeTo="logconsole" />
  </rules>

</nlog>