<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDirectory" value="${specialfolder:folder=MyDocuments}/logs/bazarserver/"/>

	<targets async="true">
		<target xsi:type="File" name="logfile" fileName="${logDirectory}/${date:format=yyyy-MM-dd}_${level}.log"
				keepFileOpen="true" openFileCacheTimeout = "60" concurrentwrites="true" maxArchiveFiles="5"
				layout="${longdate}|${message} ${exception:format=tostring}|${logger:shortName=true}|url: ${aspnet-request-url}" />

		<target xsi:type="File" name="systemlog" fileName="${logDirectory}/${shortdate}_System.log"
				keepFileOpen="true" openFileCacheTimeout = "60" concurrentwrites="true" maxArchiveFiles="5"
				layout="${longdate}|${message} ${exception:format=tostring}|${logger:shortName=true}|url: ${aspnet-request-url}" />
	</targets>

	<rules>
		<!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
		<logger name="Microsoft.*" minlevel="WARN" maxlevel="Info" writeTo="systemlog" final="true"/>
		<logger name="System.*" minlevel="WARN" maxlevel="Info" writeTo="systemlog" final="true"/>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>

</nlog>